/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    macros {
        pa: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LS(T) &kp E &kp N &kp N &kp I &kp S &kp SPACE &kp LS(S) &kp A &kp L &kp A &kp D &kp SPACE &kp LS(F) &kp L &kp U &kp T &kp E &kp SPACE &kp LS(B) &kp A &kp S &kp S &kp N8 &kp N7 &kp POUND &kp RET>;
            label = "NEW_MACRO";
        };

        Ca: Ca {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>;
            label = "CA";
        };
    };

    combos {
        compatible = "zmk,combos";

        Hide {
            bindings = <&kp LC(H)>;
            key-positions = <28 27>;
            layers = <0>;
        };

        ctrlR {
            bindings = <&kp LC(R)>;
            key-positions = <26 25>;
            layers = <0>;
        };

        screenshot {
            bindings = <&kp LG(LS(S))>;
            key-positions = <0 1>;
            layers = <0 3>;
        };

        Layer3 {
            bindings = <&tog 3>;
            key-positions = <12 13>;
            layers = <0 3>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <19 20 21>;
            layers = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&kp ESC           &kp Z          &kp KP_DIVIDE    &kp KP_MULTIPLY  &kp KP_SUBTRACT  &kp LC(V)                                     &bt BT_SEL 0    &bt BT_SEL 1   &bt BT_SEL 2     &bt BT_SEL 3  &bt BT_SEL 4  &pa
&kp TAB           &kp Q          &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp LC(Y)                                     &bt BT_CLR_ALL  &kp U          &kp I            &kp O         &kp P         &kp MINUS
&kp LEFT_SHIFT    &kp BACKSPACE  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_PLUS                                   &kp H           &kp J          &kp K            &kp L         &kp SEMI      &kp SQT
&kp LEFT_CONTROL  &kp COMMA      &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_ENTER  &kp DEL        &tog 3           &kp N           &kp M          &kp COMMA        &kp DOT       &kp FSLH      &kp RSHFT
                                                  &kp SPACE        &kp KP_NUMBER_0  &lt 2 KP_DOT  &lt 1 SPACE    &mt ENTER SPACE  &kp BACKSPACE   &kp LG(RS(S))  &kp LA(LC(DEL))
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Lower";
            bindings = <
&none  &kp LEFT_SHIFT    &kp K_SCROLL_DOWN  &mkp RCLK         &kp K_SCROLL_UP  &kp LC(C)                    &none  &none  &none  &none  &none  &none
&none  &kp LEFT_CONTROL  &mkp LCLK          &kp LS(UP_ARROW)  &mkp MCLK        &kp LC(Z)                    &none  &none  &none  &none  &none  &none
&none  &none             &kp LS(LEFT)       &kp LS(DOWN)      &kp LS(RIGHT)    &none                        &none  &none  &none  &none  &none  &none
&none  &none             &none              &none             &none            &none      &none     &trans  &none  &none  &none  &none  &none  &none
                                            &none             &none            &none      &trans    &none   &none  &none  &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Raise";
            bindings = <
&none  &none  &kp LC(Z)  &none         &kp LC(Y)  &none                    &none  &none  &none  &none  &none  &none
&none  &none  &kp LC(C)  &kp UP_ARROW  &kp V      &none                    &none  &none  &none  &none  &none  &none
&none  &none  &kp LEFT   &kp DOWN      &kp RIGHT  &none                    &none  &none  &none  &none  &none  &none
&none  &none  &none      &none         &none      &none   &none    &trans  &none  &none  &none  &none  &none  &none
                         &none         &none      &trans  &none    &none   &none  &none  &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_5 {
            display-name = "QWERTY";
            bindings = <
&kp ESC           &kp N1  &kp N2  &kp N3    &kp N4    &kp N5                                    &kp N6         &kp N7     &kp N8           &kp N9   &kp N0    &kp DEL
&kp TAB           &kp Q   &kp W   &kp E     &kp R     &kp T                                     &kp Y          &kp U      &kp I            &kp O    &kp P     &kp MINUS
&kp LEFT_SHIFT    &kp A   &kp S   &kp D     &kp F     &kp G                                     &kp H          &kp J      &kp K            &kp L    &kp SEMI  &kp SQT
&kp LEFT_CONTROL  &kp Z   &kp X   &kp C     &kp V     &kp B           &kp LBKT       &trans     &kp N          &kp M      &kp COMMA        &kp DOT  &kp FSLH  &kp RSHFT
                                  &kp LALT  &kp LGUI  &kp LEFT_SHIFT  &lt 2 SPACE    &kp SPACE  &kp BACKSPACE  &kp ENTER  &kp LC(LA(DEL))
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
